<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wangyaqi.java.practice.database.mp.mapper.UserMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="cn.wangyaqi.java.practice.database.mp.entity.User">
    <id column="id" property="id"/>
    <result column="tenant_id" property="tenantId"/>
    <result column="name" property="name"/>
    <result column="password" property="password"/>
    <result column="phone" property="phone"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="deleted" property="deleted"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
        id, tenant_id, name, password, phone, create_time, update_time, deleted
    </sql>

  <select id="findAllByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where
    name = #{name,jdbcType=VARCHAR}
  </select>

  <select id="selectUserBriefPage" resultType="cn.wangyaqi.java.practice.database.mp.vo.UserBrief">
        SELECT id,name,create_time FROM user WHERE name=#{name}
    </select>

  <select id="selectCatDetailPageSql" resultType="cn.wangyaqi.java.practice.database.mp.vo.CatDetail">
    SELECT c.*, u.name AS userName FROM user as u LEFT JOIN cat as c on u.id=c.user_id
    <where>
      <if test="userName != null and userName != ''">
        AND u.name = #{userName}
      </if>
      AND c.create_time > #{createTime}
    </where>
  </select>
</mapper>
