package ${package.Controller};

import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import ${package.Entity}.${cfg.ClassName};
import ${package.Service}.${cfg.ClassName}Service;
import com.rent.model.AjaxResult;

/**
* ${cfg.moduleName}Controller
*
* @author ${author}
* @date ${cfg.datetime}
*/
@Controller
@RequestMapping("/${cfg.moduleName}/${cfg.className}")
public class ${cfg.ClassName}Controller extends BaseController
{
    @Autowired
    private ${cfg.ClassName}Service ${cfg.className}Service;

    /**
    * 查询${cfg.className}列表
    */
    @GetMapping("/list")
    public TableDataInfo list(@RequestParam int pageNumber, @RequestParam int pageSize) {
        Page<${cfg.ClassName}> page = ${cfg.className}Service.select${cfg.ClassName}Page(pageNumber, pageSize);
        return page;
    }

    /**
    * 新增保存${cfg.ClassName}
    */
    @PostMapping("/add${cfg.ClassName}")
    public AjaxResult addSave(${cfg.ClassName} ${cfg.ClassName}) {
        boolean ret = ${cfg.ClassName}Service.save(${cfg.ClassName});
        return new AjaxResult(ret, ret ? "成功" : "失败");
    }

    /**
    * 修改保存${cfg.ClassName}
    */
    @PostMapping("/edit")
    public AjaxResult editSave(${cfg.ClassName} ${cfg.ClassName}) {
        boolean ret = ${cfg.ClassName}Service.updateById(${cfg.ClassName});
        return new AjaxResult(ret, ret ? "成功" : "失败");
    }

    @PostMapping("deleteById")
    @ApiOperation("根据ID删除${cfg.ClassName}")
    public AjaxResult<${cfg.ClassName}> deleteById(Long id) {
        boolean ret = ${cfg.ClassName}Service.removeById(id);
        return new AjaxResult(true, ret ? "成功" : "失败");
    }

    @PostMapping("findById")
    @ApiOperation("根据ID查询${cfg.ClassName}")
    public AjaxResult<${cfg.ClassName}> findById(Long id) {
        ${cfg.ClassName} user = ${cfg.ClassName}Service.getById(id);
        return new AjaxResult(true, "成功", user);
    }
}