package ${package.Controller};

import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RestController;
import ${package.Entity}.${entity};
import ${package.Service}.${entity}Service;

/**
* ${entity}Controller
*
* @author ${author}
* @date ${cfg.time}
*/
@RestController
@RequestMapping(path = "${entity}小写", method = RequestMethod.GET)
public class ${entity}Controller {
    @Autowired
    private ${entity}Service ${entity}Service;

    /**
    * 查询${entity}列表
    */
    @RequestMapping("list")
    public ApiOutput list(@RequestParam int pageNumber, @RequestParam int pageSize) {
        Page<${entity}> page = ${entity}Service.select${entity}Page(pageNumber, pageSize);
        return new ApiOutput(page);
    }

    @RequestMapping("create")
    @ApiOperation("新增${entity}")
    public ApiOutput create(${entity} obj) {
        boolean ret = ${entity}Service.save(obj);
        return new ApiOutput(ret?SUCCESS:FAIL);
    }

    @RequestMapping("read")
    @ApiOperation("根据ID查询${entity}")
    public ApiOutput read(Long id) {
        ${entity} obj = ${entity}Service.getById(id);
        return new ApiOutput(obj?obj:NOT_EXIST);
    }

    @RequestMapping("edit")
    @ApiOperation("修改${entity}")
    public ApiOutput edit(${entity} obj) {
        boolean ret = ${entity}Service.updateById(obj);
        return new ApiOutput(ret?SUCCESS:FAIL);
    }

    @RequestMapping("delete")
    @ApiOperation("根据ID删除${entity}")
    public ApiOutput delete(Long id) {
        boolean ret = ${entity}Service.removeById(id);
        return new ApiOutput(ret?SUCCESS:FAIL);
    }
}